<div class="container">
<div class="text-center col-md-4 col-md-offset-4">
<h1>Status for <i><%= @license.number %></i> is <%= statuses(@license.status.status) %>.</h1>
<h1><small><%= @license.status.description %></small></h1>
<a href="/">Check another status</a>
</div>
</div>

<% content_for :footer_docs do %>
  <%= erb :"shared/footer_docs" %>

<% end %>
