<div class="container">

<div class="text-center col-md-4 col-md-offset-4">

<% flash_types.select{ |kind| flash.has?(kind) }.each do |kind| %>
<div class="alert alert-<%= kind %>">
  <%= flash[kind] %>
</div>
<% end %>

<h1>Welcome!</h1>
<h1><small>Check someone's charge status</small></h1>
<form role="form" method='post' action='/status/check'>
<div class='form-group'>
<input type="text" class="form-control input-lg" name="license" autofocus="autofocus" placeholder="License Plate #  "/>
</div>
<div class='form-group'>
<input type='submit' name="do" class='btn btn-success btn-lg' value='Check Status' />
</div>
</form>

<div class='divider'><h2> or </h2></div>

<% if current_user and (not current_user.licenses.blank?) %>

<h1><small>Set your status</small></h1>
<% current_user.licenses.each do | license | %>

  <div class="license">
  <a href="/set/<%= license.number %>">

  <button type="button" class="btn btn-default">
  <%= license.number %>
  </button>
  </a>
  </div>

<% end %>

<% else %>

<h1><small>Set your status</small></h1>
<form role="form" method='post' action='/status/set'>
<div class='form-group'>
<input type="text" class="form-control input-lg" name="license" placeholder="Your License Plate #  "/>
</div>
<div class='form-group'>
<input type='submit' name="do" class='btn btn-success btn-lg' value='Set Status' />
</div>
</form>


<% end %>

</div></div>
