<div class="container">
<div class="text-center col-md-4 col-md-offset-4">

<% flash_types.select{ |kind| flash.has?(kind) }.each do |kind| %>
<div class="alert alert-<%= kind %>">
  <%= flash[kind] %>
</div>
<% end %>

<h1>Welcome!</h1>
<h1><small>Enter the license plate number</small></h1>
<form role="form" method='post' action='/'>
<div class='form-group'>
<input type="text" class="form-control input-lg" name="license" autofocus="autofocus" />
</div>
<div class='form-group'>
<input type='submit' name="do" class='btn btn-success btn-lg' value='Check Status' />
</div>
<div class='form-group'>
<input type='submit' name="do" class='btn btn-link' value='This is my car' />
</div>


<% if current_user and (not current_user.licenses.blank?) %>

<hr />

<h4>Set your status</h4>
<% current_user.licenses.each do | license | %>

  <div class="license">
  <a href="/set/<%= license.number %>">

  <button type="button" class="btn btn-default">
  <%= license.number %>
  </button>
  </a>
  </div>


<% end %>


<% end %>

</div></div>
</form>