<html>
<head>
  <title>EV</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta charset="utf-8">
  <link href="/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/css/main.css" rel="stylesheet" />
</head>
<body>
  <nav class='navbar navbar-default navbar-static-top' role='navigation'>
  <div class='container'>
    <a class="navbar-brand" href="/">EV Status</a>
  </div>
  </nav>

  <%= yield %>
</body>