<div class="container">
<div class="text-center col-md-4 col-md-offset-4">

<% flash_types.select{ |kind| flash.has?(kind) }.each do |kind| %>
<div class="alert alert-<%= kind %>">
  <%= flash[kind] %>
</div>
<% end %>

<h1>Oops!  We couldn't find that page but the site is pretty simple so...</h1>
<h1><small>Enter the license plate number</small></h1>
<form role="form" method='post' action='/'>
<div class='form-group'>
<input type="text" class="form-control input-lg" name="license" />
</div>
<div class='form-group'>
<input type='submit' name="do" class='btn btn-success btn-lg' value='Check Status' />
</div>
<div class='form-group'>
<input type='submit' name="do" class='btn btn-link' value='This is my car' />
</div>
</div></div>
</form>