html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

.row {
  max-width: 80rem;
}
body, h1, h2, h3, h4, h5, h6, p {
  font-family: 'Ubuntu', sans-serif;
}

/* Part that appears in the screen */
#screen {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  width: 100%;
  display: table;
}

/* Set the fixed height of the footer here */
#docs {
  position: relative;
  background-color: #eee;
  padding-bottom: 300px;
}

.about-title {
  color: #DD4814;
}
.about-subtitle {
  margin: 0 0 40px;
  color: #aea79f;
  font-size: 16px;
  font-weight: 300;
}

.faq-question span {
  top: 2px;
}
.faq-answer {
  color: #aea79f;
  margin-bottom: 25px;
}


div.license {
  padding-bottom: 8px;
}
td.license {
  text-align: center;
}

div.fb-connect {
  margin: 6px 5px 0 5px;
}

div.fb-connect a {
  padding-right: 10px;
}

.divider {
  height: 30px;
  text-align:center;
  border-bottom:1px solid #eee;
  margin-bottom: 45px;
}
.divider h2 {
  display:inline-block;
  position:relative;
  top:-10px;
  background:#fff;
  padding:0 12px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.ev-footer {
  margin-top: 25px;
}

.footer-links {
  margin-top: 20px;
  padding-left: 0;
  color: #999;
  text-align: center;
}
.footer-links li:first-child {
  padding-left: 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}

.navbar-nav li a.img {
  overflow: visible;
  padding-bottom: 9px;
  padding-top: 9px;
}

.navbar-nav img {
  max-height: 40px;
  overflow: visible;
  padding-bottom: 0px;
  padding-top: 0px;
}

#login_license {
  text-align: center;
}