<html>
<head>
<!-- Include Print CSS -->
<link href='http://fonts.googleapis.com/css?family=Ruda:900' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/css/sign.css" type="text/css" />
</head>
<body class='flyer'>
<div class='container'>
<img src="/images/car_plug.png" />

<h1>Cevility</h1>

<ol>
<li>Turn this over and read the QR code with your phone</li>
<li>Associate your license plate number with this QR code</li>
<li>Set your status every time you plug in</li>
<li>Put this sign on your dash, QR code facing up</li>
</ol>
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br />
<div class='footer'>
  <ul>
  <li>Easy EV Etiquette</li>
  <li>·</li>
  <li>cevility.com</li>
  </ul>
</div>



</body>
</html>